# BEGIN YOURLS
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{LA-U:REQUEST_FILENAME} -d
    RewriteCond %{REQUEST_URI} !(.*)/$
    RewriteCond %{HTTP:X-Forwarded-Proto} https
    RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI}/ [L,R=301,QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ /yourls-loader.php [L]
</IfModule>
# END YOURLS
