# https://docs.github.com/actions

name: Analysis

on:
  schedule:
    - cron: '43 2 * * 6'
  workflow_call:
    inputs:
      artifact:
        required: false
        default: true
        type: string
  workflow_dispatch:

jobs:
  trivy:
    name: Trivy
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      matrix:
        variant: [fpm-alpine, fpm, apache]
    steps:
      - uses: actions/checkout@v2

      - name: Retrieve image artifact
        uses: actions/download-artifact@v2
        if: inputs.artifact
        with:
          name: ${{ matrix.variant }}-image

      - name: Run Trivy scanner
        uses: aquasecurity/trivy-action@0.2.2
        if: inputs.artifact
        with:
          input: container-image.tar
          format: template
          template: '@/contrib/sarif.tpl'
          output: results.sarif

      - name: Run Trivy scanner
        uses: aquasecurity/trivy-action@0.2.2
        if: "! inputs.artifact"
        with:
          image-ref: ghcr.io/yourls/yourls:${{ matrix.variant }}
          format: template
          template: '@/contrib/sarif.tpl'
          output: results.sarif

      - name: Upload scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif
