# https://docs.github.com/actions

name: Docker CI

on: [push, pull_request]

jobs:
  testing:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variant: [fpm-alpine, fpm, apache]
    steps:
      - uses: actions/checkout@v2.3.5

      - name: Generate variants
        if: github.ref != 'refs/heads/dist'
        run: ./bin/generate-variants.sh

      - name: Extract current version
        run: 'echo "version=$(head -n 1 yourls_version)" >> $GITHUB_ENV'

      - name: Prepare Tools
        run: git clone https://github.com/docker-library/official-images.git ~/official-images

      - name: Build and Test
        run: |
          docker build -t "${IMAGE}" "${VARIANT}"
          ~/official-images/test/run.sh "${IMAGE}"
        env:
          IMAGE: yourls:${{ env.version }}-${{ matrix.variant }}
          VARIANT: ${{ matrix.variant }}

      - run: docker images

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: yourls:${{ env.version }}-${{ matrix.variant }}
          format: template
          template: '@/contrib/sarif.tpl'
          output: trivy-results.sarif

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: trivy-results.sarif
