# https://docs.github.com/actions

name: Docker Hub

on:
  workflow_dispatch:

permissions: {}

jobs:
  stackbrew:
    name: Stackbrew
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          ref: dist

      - name: Download bashbrew
        run: |
          wget https://doi-janky.infosiftr.net/job/bashbrew/job/master/lastSuccessfulBuild/artifact/bashbrew-amd64
          mkdir -p "$HOME/.local/bin"
          mv bashbrew-amd64 "$HOME/.local/bin/bashbrew"
          chmod +x "$HOME/.local/bin/bashbrew"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
          bashbrew --version

      - name: Generate stackbrew
        run: bash ./bin/generate-stackbrew-library.sh > yourls

      - uses: actions/upload-artifact@v4
        with:
          name: stackbrew
          path: yourls

  submit:
    name: Submit
    runs-on: ubuntu-latest
    needs:
      - stackbrew
    steps:
      - uses: actions/checkout@v6
        with:
          repository: docker-library/official-images

      - uses: actions/download-artifact@v6
        with:
          name: stackbrew
          path: library

      - name: Generate token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
          repositories: docker-library-official-images

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          push-to-fork: ${{ github.repository_owner }}/docker-library-official-images
          commit-message: Update YOURLS
          title: Update YOURLS
          delete-branch: true
          body: |
            Automated changes from [${{ github.repository }}](https://github.com/${{ github.repository }}) via [GitHub Actions run #${{ github.run_id }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).
