# https://docs.github.com/actions

name: Lint

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  super-linter:
    name: Code Base
    uses: YOURLS/.github/.github/workflows/lint.yml@main
